# Environnement
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/

# ML model (fichier binaire lourd)
ml/model.pkl

# Données brutes (potentiellement sensibles)
data/raw/
data/processed/
data/archive/

# Logs
airflow/logs/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

check_env.py
